.dropdown {
  display: inline-block;
  position: relative;
}

.ddButton {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: var(--white);
  cursor: pointer;
  white-space: nowrap;
}
.ddButton img {
  width: 1.5rem;
}
.ddButton:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.ddButton:hover {
  background-color: #eeeeee;
}

.ddInput {
  display: none;
}

.ddMenu {
  height: 50vh;
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 var(--black);
  background-color: var(--white);
  list-style-type: none;
  overflow: hidden;
  overflow-y: scroll;
}

.ddInput + .ddMenu {
  display: none;
}

.ddInput:checked + .ddMenu {
  display: block;
}

.li {
  padding: 5px 10px;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  align-items: center;
  width: 20vw;
}

.li:hover {
  background-color: #f6f6f6;
}

.li img {
  width: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.trackDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.trackDetails div {
  background-color: var(--bg-grey);
  font-size: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid var(--text-grey);
}
