.header{
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header>div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.header>div div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:0.5rem;
    font-size: 10px;
    padding: 0.2rem .5rem;
    border-radius: 20px;
    background-color: var(--white);
    border: 1px solid var(--text-grey);
}