.display{
    background-color: var(--white);
    width: 96vw;
    border-radius: 8px;
    margin-left: 2vw;
    margin-bottom: 2vh;
    box-shadow: -2px 2px 35px -6px rgba(92,85,137,0.61);
    -webkit-box-shadow: -2px 2px 35px -6px rgba(92,85,137,0.61);
    -moz-box-shadow: -2px 2px 35px -6px rgba(92,85,137,0.61);
}